
<%
const categoriesList = list_categories({ show_count: false });
const tagsList = list_tags({ show_count: false });
const archivesList = list_archives({ show_count: false });
%>

<% if (is_year() === false) { %>
  <section class="archive">
    <% if (theme.atom !== undefined) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    <aside>
      <h2><%=__('category')%></h2>
      <% if (categoriesList !== "") { %>
        <%-categoriesList%>
      <% } else { %>
      <% } %>
    </aside>
    <br>

    <aside>
      <h2><%=__('tag')%></h2>
      <% if (tagsList !== "") { %>
        <%-tagsList%>
      <% } else { %>
      <% } %>
    </aside>
    <br>

    <aside>
      <h2><%=__('archive')%></h2>
      <% if (archivesList !== "") { %>
        <%-archivesList%>
      <% } else { %>
      <% } %>
    </aside>
  </section>
<% } else { %>
<section class="archive">
<h2><%=page.year + '-' + page.month%></h2>
<%-partial('common/articles', {articles: page.posts})%>
</section>
<% } %>
