<!doctype html>
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = __('archive');
if (is_tag()) pageTitle = __('tag') + ': ' + page.tag;
if (is_category()) pageTitle = __('category') + ': ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>
<html lang="<%=theme.language%>" amp>
<%-partial('common/head',{title: pageTitle })%>
<body>
<%-partial('common/header')%>
<main>
<%-body%>
</main>
<%-partial('common/footer')%>
</body>
</html>
